*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bgimg1L{
    position: absolute;
    width: 250px;
    left: 80px;
    top: 40px;
    transform: rotate(-15deg);
}
.ikki{
    position: absolute;
    width: 300px;
    top: 30px;
    right: 0px;
    transform: rotate(17deg);
}
.uch{
    width: 350px;
    top: 350px;
    left: 50px;
    transform: rotate(-20deg);

}
.tort{
    top: 400px;
    width: 300px;
    position: absolute;
    right: 0px;
    transform: rotate(17deg);

}

body{
    background-color: #f4eee2;
}
.header {
    /* background-image: url(../img/chill\ timebg.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    text-align: center;
    padding-top: 70px;
    position: relative;
    overflow: hidden;

}
.header-container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.header-logo {
    width: 100px;
    height: 55px;
    margin-bottom: 19px;
}
.header-title {
    font-family: 'Beadly', sans-serif;                                        
    color: #474740;
    font-size: 45px;
    margin-bottom: 40px;
}
.header-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: #474740;
    font-size: 13px;
    margin-bottom: 65px;
}

.search{
    margin-bottom: 80px;
}
.search-icon {
    width: 25px;
    height: 20px;
    
}
.search-btn{
    position: absolute;
    z-index: 10000;
    margin-left: 310px;
    margin-top: 9px;
    
    
}
.search-input {
    background-color: #474740;
    width: 800px;
    padding: 10px;
    position: relative;
    border: none;
    border-radius: 50px;
    color: #f4eee2;
    padding-left: 35px;
}
.navbar-list {
    list-style: none;
    margin-bottom: 200px;

}
.nav-item {
      border: 1px solid #474740;
   padding: 7px 10px;
    margin-bottom: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

}
.nav-link {
    text-decoration: none;
    font-family: "DM Sans";
    color: #474740;
  
}



/* section2 */

.kutilayotganlar {
    padding: 120px 20px;
    background-color: #f4eee2;
    margin-bottom: 200px;
   
}
.kutilayotganlar-container,
.container{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.kutilayotganlar-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.kutilayotganlar-header-logo{
    width: 100px;
    height: 55px;
}
.kutilayotganlar-header-title {
        font-family: "Beadly" , sans-serif;
     font-weight: 300;
     color: #474740;
     font-size: 25px;
}

/* SWIPER */
.swiper {
    width: 100%;
    text-align: center;
}

/* SLIDE */
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */

/* BUTTONS (yashirinroq qilish) */
.swiper-button-next,
.swiper-button-prev {
    color: #aaa;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #000;
}
.bottom-div {
    text-align: center;
}
.bottom-div-img {
    text-align: center;
}
.bottom-div-img1 {
    width: 500px;
    height: 500px;
}
.bottom-div-texts-title {
    margin-bottom: 15px;
    color: #474740;
    font-family: "DM Sans";
    font-weight: 300;
}
.bottom-div-texts-text {
    color: #474740;
    font-family: "DM Sans" , sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}
.bottom-div-texts-gr {
    color: #474740;
    font-family: "DM Sans";
    font-weight: 300;
}

.bottom-div-img2{
    width: 540px;
    height: 640px;
} 


/* menu start */
.muz {
    padding-top: 77px;
}
.muz-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.muz-box {
    text-align: center;
    border: 1px solid #474740;
    width: 340px;
    margin-bottom: 212px;
    align-items: center;
}
.muz-box-img1 {
    width: 230px;
}

.muz-box-img2{
    width: 150px;
}

.muz-box-img3{
    width: 245px;
}

.muz-box-texts-titlee {
    color: black;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 17px;
    margin-bottom: 12px;
}
.muz-box-texts-textt {
    color: black;
    font-family: sans-serif;
    font-weight: 400;
}
.muz-box-texts-grr {
    color: rgb(72, 72, 72);
    font-family: sans-serif;
    font-size: 28px;
}
.muz-box-btn {
    padding: 20px 90px;
    margin-bottom: 32px;
    background-color: #474740;
    color: #f4eee2;
    border: none;
    font-size: 20px;
}
/* menu end */




/* markazlar start*/
.markazlar {
    padding: 0px 20px;
}
.markaz-cards{
    
    display: flex;
    gap: 300px;
    justify-content: center;
    /* justify-content: space-between; */
}
.markaz-card {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.markaz-text {
    margin-top: 20px;
      margin-bottom: 15px;
    color: #474740;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    
}
/* markaz- end */